---
import Page from "../components/page.astro";
import "../styles/bem.scss";
---

<Page>
  <h1>BEM Buttons</h1>
  <!-- BEGIN EXERCISE -->
  <p>
    <button class="btn btn--mode-primary">
      Buy now! <span class="btn__price">$1.00</span>
    </button>
    <label>Primary</label>
  </p>

  <p>
    <button class="btn btn--mode-secondary">
      Buy now! <span class="btn__price">$1.00</span>
    </button>
    <label>Secondary</label>
  </p>

  <p>
    <button class="btn btn--mode-primary" disabled>
      Buy now! <span class="btn__price">$1.00</span>
    </button>
    <label>Primary Disabled</label>
  </p>

  <p>
    <button class="btn btn--mode-secondary" disabled>
      Buy now! <span class="btn__price">$1.00</span>
    </button>
    <label>Secondary Disabled</label>
  </p>
</Page>
