---
import Page from "../components/page.astro";
import "../styles/mixins.scss";
---

<Page>
  <h1>Mixins</h1>

  <!-- BEGIN EXERCISE -->
  <p>
    <button class="btn btn-yellow">Click Me!</button>
    <label>Yellow</label>
  </p>

  <p>
    <button class="btn btn-blue">Click Me!</button>
    <label>Blue</label>
  </p>
  <p>
    <button class="btn btn-green">Click Me!</button>
    <label>Green</label>
  </p>
  <p>
    <button class="btn btn-purple">Click Me!</button>
    <label>Purple</label>
  </p>
  <p>
    <button class="btn btn-pink">Click Me!</button>
    <label>Pink</label>
  </p>
  <p>
    <button class="btn btn-orange">Click Me!</button>
    <label>Orange</label>
  </p>
  <p>
    <button class="btn btn-brown">Click Me!</button>
    <label>Brown</label>
  </p>
</Page>
