---
import Page from "../components/page.astro";
import "../styles/parent.scss";
---

<Page>
  <!-- BEGIN EXERCISE -->
  <div class="container right-nav">
    <div class="sidebar">Sidebar</div>
    <div class="main">Main Content</div>
  </div>
  <!-- END EXERCISE -->
</Page>
