<h1>App</h1>
<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a
        class="nav__link"
        routerLinkActive="nav__link--active"
        routerLink="home"
      >
        Home
      </a>
    </li>
    <li class="nav__item" *ngFor="let category of categories">
      <a
        class="nav__link"
        routerLinkActive="nav__link--active"
        [routerLink]="['category', category.id]"
      >
        {{ category.name }}
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
